torch==2.0.0 # BSD 3-Clause - ensures torch is not reinstalled
torchcrepe @ git+https://github.com/rsxdalv/torchcrepe@patch-1 # MIT License
rvc-beta @ git+https://github.com/rsxdalv/Retrieval-based-Voice-Conversion-WebUI@package # MIT License
