safetensors==0.3.1 # Until they fix it
torch==2.0.0 # BSD 3-Clause - ensures torch is not reinstalled
ffmpeg-python # Apache 2.0
gradio==3.48.0
python-dotenv==1.0.0
soundfile==0.12.1; sys_platform == 'win32' # torchaudio
# sox # torchaudio for linux
suno-bark @ git+https://github.com/rsxdalv/bark@0d91823ead3d87c317f12d01d325fca9408c669e#egg=suno-bark # MIT License
vocos==0.0.2 # MIT License
tortoise-tts @ git+https://github.com/rsxdalv/tortoise-tts@e4711433b12bcd1086840649e1830ad5c3fa1a76#egg=tortoise-tts # Apache 2.0
beartype>=0.16.1
transformers==4.36.1 
