safetensors
python-dotenv==1.0.0
 
ffmpeg-python # Apache 2.0
gradio==5.5.0 # MIT License
pydantic==2.10.6 # for gradio 5.5.0 fix
pillow==10.3.0 # for gradio, conda fix
beartype>=0.16.1 # workaround for a bug
soundfile==0.12.1; sys_platform == 'win32' # torchaudio
# sox # torchaudio for linux
# no longer required directly # transformers==4.36.1 # cross-compatibility
deepspeed @ https://github.com/rsxdalv/DeepSpeed/releases/download/v0.15.5-test/deepspeed-0.15.5+unknown-cp310-cp310-win_amd64.whl ; sys_platform == 'win32' # Apache 2.0
fairseq @ https://github.com/rsxdalv/fairseq/releases/download/v0.12.3/fairseq-0.12.13-cp310-cp310-win_amd64.whl ; sys_platform == 'win32' # MIT License
fairseq @ https://github.com/rsxdalv/fairseq/releases/download/v0.12.3/fairseq-0.12.13-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl ; sys_platform == 'linux' # MIT License
fairseq @ https://github.com/rsxdalv/fairseq/releases/download/v0.12.3/fairseq-0.12.13-cp310-cp310-macosx_11_0_universal2.whl ; sys_platform == 'darwin' # MIT License
accelerate>=0.33.0
# optimum-quanto==0.2.6
# triton>=3.2.0 ; sys_platform == 'linux',
# triton-windows>=3.2.0.post18 ; sys_platform == 'win32',

# experimental
# flash-attn @ https://github.com/kingbri1/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu124torch2.6.0cxx11abiFALSE-cp310-cp310-win_amd64.whl ; sys_platform == 'win32'
# https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu12torch2.6cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
# flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu12torch2.6cxx11abiFALSE-cp310-cp310-linux_x86_64.whl ; sys_platform == 'linux'

extension_bark @ git+https://github.com/rsxdalv/extension_bark@main
extension_tortoise @ git+https://github.com/rsxdalv/extension_tortoise@main
extension_demucs @ git+https://github.com/rsxdalv/extension_demucs@main
extension_mms @ git+https://github.com/rsxdalv/extension_mms@main
extension_seamless_m4t @ git+https://github.com/rsxdalv/extension_seamless_m4t@main
extension_vocos @ git+https://github.com/rsxdalv/extension_vocos@main
