absl-py==1.4.0
accelerate==1.7.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.15
aiosignal==1.3.2
alabaster==1.0.0
albucore==0.0.24
albumentations==2.0.6
ale-py==0.11.0
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_record==0.7.2
arviz==0.21.0
astropy==7.0.2
astropy-iers-data==0.2025.5.12.0.38.29
astunparse==1.6.3
atpublic==5.1
attrs==25.3.0
audiocraft @ https://github.com/rsxdalv/audiocraft/releases/download/v1.4.0a1/audiocraft-1.4.0a1-py3-none-any.whl#sha256=344e8ab49320bec503b8255b00982c2813af49e2ba5e9695e927c43cc43597d5
audiolm-pytorch==1.2.28
audioread==3.0.1
autograd==1.8.0
av==11.0.0
babel==2.17.0
backcall==0.2.0
backports.tarfile==1.2.0
bark_hubert_quantizer @ https://github.com/rsxdalv/bark-voice-cloning-HuBERT-quantizer/releases/download/v0.0.5/bark_hubert_quantizer-0.0.5-py3-none-any.whl#sha256=91d38d5d946ecd959d6d7622f0851c8eef7adbfb2e156e663bdb5d34e5c007ae
beartype==0.20.2
beautifulsoup4==4.13.4
betterproto==2.0.0b6
bigframes==2.4.0
bigquery-magics==0.9.0
bitarray==3.4.1
bleach==6.2.0
blinker==1.9.0
blis==1.2.1
blobfile==3.0.0
blosc2==3.3.2
bokeh==3.7.3
boto3==1.38.18
botocore==1.38.18
Bottleneck==1.4.2
bqplot==0.12.44
branca==0.8.1
build==1.2.2.post1
CacheControl==0.14.3
cached_path==1.7.3
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
chex==0.1.89
clarabel==0.10.0
click==8.2.0
cloudpathlib==0.21.0
cloudpickle==3.1.1
cmake==3.31.6
cmdstanpy==1.2.5
cn2an==0.5.23
colorama==0.4.6
colorcet==3.1.0
colorlog==6.9.0
colorlover==0.3.0
colour==0.1.5
community==1.0.0b1
confection==0.1.5
cons==0.4.6
contourpy==1.3.2
cramjam==2.10.0
cryptography==43.0.3
cuda-python==12.6.2.post1
cudf-cu12 @ https://pypi.nvidia.com/cudf-cu12/cudf_cu12-25.2.1-cp311-cp311-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl
cudf-polars-cu12==25.2.2
cufflinks==0.17.3
cuml-cu12==25.2.1
cupy-cuda12x==13.3.0
curl_cffi==0.10.0
cuvs-cu12==25.2.1
cvxopt==1.3.2
cvxpy==1.6.5
cycler==0.12.1
cyipopt==1.5.0
cymem==2.0.11
Cython==3.0.12
dask==2024.12.1
dask-cuda==25.2.0
dask-cudf-cu12==25.2.2
dask-expr==1.1.21
dataproc-spark-connect==0.7.3
datascience==0.17.6
datasets==2.14.4
dateparser==1.1.8
db-dtypes==1.4.3
dbus-python==1.2.18
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
demucs==4.0.1
diffusers==0.33.1
dill==0.3.7
distributed==2024.12.1
distributed-ucxx-cu12==0.42.0
distro==1.9.0
dlib==19.24.6
dm-tree==0.1.9
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.16
docutils==0.21.2
dopamine_rl==4.1.2
dora_search==0.1.12
duckdb==1.2.2
earthengine-api==1.5.15
easydict==1.13
editdistance==0.8.1
eerepr==0.1.2
einops==0.8.1
einops-exts==0.0.4
einx==0.3.0
ema-pytorch==0.7.7
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
encodec==0.1.1
eng_to_ipa==0.0.2
entrypoints==0.4
et_xmlfile==2.0.0
etils==1.12.2
etuples==0.3.9
extension_audiocraft @ git+https://github.com/rsxdalv/extension_audiocraft@dffdc6a22b8030753ed909301c040998bec56c9f
extension_bark @ git+https://github.com/rsxdalv/extension_bark@a27753b223b91d9330a3c803489b543a012575d5
extension_bark_voice_clone @ git+https://github.com/rsxdalv/extension_bark_voice_clone@a5825d5ec66a59410f135422bee309f008381488
extension_demucs @ git+https://github.com/rsxdalv/extension_demucs@115a712dec26d5fe508e29be63591c5f7878429d
extension_maha_tts @ git+https://github.com/rsxdalv/extension_maha_tts@5804f3a9fb038cfab622ee2c36106708c4a3c875
extension_mms @ git+https://github.com/rsxdalv/extension_mms@78f391e1dc2884110ca9f2c16fc77ae575afb41c
extension_rvc @ git+https://github.com/rsxdalv/extension_rvc@19cf07db5d7f9c0d27f0f222fcd73d1376ea1f74
extension_seamless_m4t @ git+https://github.com/rsxdalv/extension_seamless_m4t@7d4791e0ee434c219e6f832dd9f7a3025ec68cd6
extension_styletts2 @ git+https://github.com/rsxdalv/extension_styletts2@9ffcdf9f6038fe22ba161e572e934ff4035bee36
extension_tortoise @ git+https://github.com/rsxdalv/extension_tortoise@67b3644f4a80124e92a3358bc8857148c548edb3
extension_vall_e_x @ git+https://github.com/rsxdalv/extension_vall_e_x@2bd962369ba6e40922c809340e1798bd0d44bca0
extension_vocos @ git+https://github.com/rsxdalv/extension_vocos@69897c7b5c29bb7d7ff7b160a8d7d177a47042b4
fairseq @ https://github.com/rsxdalv/fairseq/releases/download/v0.12.3/fairseq-0.12.13-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl#sha256=656b20f000fe0a62f05072c45e3624da99b55e9c26b99ef12cf761f4d39ba0b3
faiss-cpu==1.11.0
Farama-Notifications==0.0.4
fastai==2.7.19
fastapi==0.115.12
fastcore==1.7.29
fastdownload==0.0.7
fastjsonschema==2.21.1
fastprogress==1.0.3
fastrlock==0.8.3
ffmpeg-python==0.2.0
ffmpy==0.5.0
filelock==3.12.4
firebase-admin==6.8.0
flashy==0.0.2
Flask==3.1.1
flatbuffers==25.2.10
flax==0.10.6
folium==0.19.5
fonttools==4.58.0
frozendict==2.4.6
frozenlist==1.6.0
fsspec==2025.3.2
funcy==2.0
future==1.0.0
gast==0.6.0
gcsfs==2025.3.2
GDAL==3.6.4
gdown==5.2.0
geemap==0.35.3
geocoder==1.38.1
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gin-config==0.5.0
gitdb==4.0.12
GitPython==3.1.44
glob2==0.7
google==2.0.3
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-aiplatform==1.92.0
google-cloud-bigquery==3.32.0
google-cloud-bigquery-connection==1.18.2
google-cloud-bigquery-storage==2.31.0
google-cloud-core==2.4.3
google-cloud-dataproc==5.18.1
google-cloud-datastore==2.21.0
google-cloud-firestore==2.20.2
google-cloud-functions==1.20.3
google-cloud-iam==2.19.0
google-cloud-language==2.17.1
google-cloud-resource-manager==1.14.2
google-cloud-spanner==3.54.0
google-cloud-storage==2.19.0
google-cloud-translate==3.20.2
google-colab @ file:///colabtools/dist/google_colab-1.0.0.tar.gz
google-crc32c==1.7.1
google-genai==1.15.0
google-generativeai==0.8.5
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
googledrivedownloader==1.1.0
gradio==5.5.0
gradio_client==1.4.2
graphviz==0.20.3
greenlet==3.2.2
grpc-google-iam-v1==0.14.2
grpc-interceptor==0.15.4
grpcio==1.71.0
grpcio-status==1.71.0
grpclib==0.4.8
gruut==2.4.0
gruut-ipa==0.13.0
gruut_lang_en==2.0.1
gspread==6.2.0
gspread-dataframe==4.0.0
gym==0.25.2
gym-notices==0.0.8
gymnasium==1.1.1
h11==0.16.0
h2==4.2.0
h5netcdf==1.6.1
h5py==3.13.0
hdbscan==0.8.40
hf_transfer==0.1.9
highspy==1.10.0
holidays==0.72
holoviews==1.20.2
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httpimport==1.4.1
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.31.2
humanize==4.12.3
hydra-colorlog==1.2.0
hydra-core==1.3.2
hyper-connections==0.1.15
hyperframe==6.1.0
hyperopt==0.2.7
ibis-framework==9.5.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize==1.4.1
imbalanced-learn==0.13.0
immutabledict==4.2.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
imutils==0.5.4
inflect==7.5.0
iniconfig==2.1.0
intel-cmplr-lib-ur==2025.1.1
intel-openmp==2025.1.1
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipykernel==6.17.1
ipyleaflet==0.19.2
ipyparallel==8.8.0
ipython==7.34.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
ipytree==0.2.2
ipywidgets==7.7.1
iso639-lang==2.2.3
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jax==0.5.2
jax-cuda12-pjrt==0.5.1
jax-cuda12-plugin==0.5.1
jaxlib==0.5.1
jeepney==0.9.0
jieba==0.42.1
Jinja2==3.1.6
jiter==0.9.0
jmespath==1.0.1
joblib==1.5.0
jsonlines==1.2.0
jsonpatch==1.33
jsonpickle==4.0.5
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
julius==0.2.7
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter-leaflet==0.19.2
jupyter-server==1.16.0
jupyter_core==5.7.2
jupyter_kernel_gateway @ git+https://github.com/googlecolab/kernel_gateway@b134e9945df25c2dcb98ade9129399be10788671
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.15
kaggle==1.7.4.5
kagglehub==0.3.12
keras==3.8.0
keras-hub==0.18.1
keras-nlp==0.18.1
keyring==25.6.0
keyrings.google-artifactregistry-auth==1.1.2
kiwisolver==1.4.8
lameenc==1.8.1
langchain==0.3.25
langchain-core==0.3.59
langchain-text-splitters==0.3.8
langcodes==3.5.0
langid==1.1.6
langsmith==0.3.42
language_data==1.3.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
libclang==18.1.1
libcudf-cu12 @ https://pypi.nvidia.com/libcudf-cu12/libcudf_cu12-25.2.1-py3-none-manylinux_2_28_x86_64.whl
libcugraph-cu12==25.2.0
libcuml-cu12==25.2.1
libcuvs-cu12==25.2.1
libkvikio-cu12==25.2.1
libpysal==4.13.0
libraft-cu12==25.2.0
librosa==0.10.2.post1
libucx-cu12==1.18.1
libucxx-cu12==0.42.0
lightgbm @ file:///tmp/lightgbm/LightGBM/dist/lightgbm-4.5.0-py3-none-linux_x86_64.whl
lightning-utilities==0.14.3
linkify-it-py==2.0.3
lion-pytorch==0.2.3
llvmlite==0.43.0
local-attention==1.11.1
locket==1.0.0
logical-unification==0.4.6
lxml==5.4.0
maha_tts @ https://github.com/rsxdalv/MahaTTS/releases/download/v1.0.0/maha_tts-1.0.0-py3-none-any.whl#sha256=f449b2e2744cac80962bea6b4954789e049f3c1591a7770821920e2b0fb959a1
Mako==1.1.3
marisa-trie==1.2.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.3
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
miniKanren==1.0.3
missingno==0.5.2
mistune==3.1.3
mizani==0.13.5
mkl==2025.0.1
ml-dtypes==0.4.1
mlxtend==0.23.4
more-itertools==10.7.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.4.3
multipledispatch==1.0.0
multiprocess==0.70.15
multitasking==0.0.11
munch==4.0.0
murmurhash==1.0.12
music21==9.3.0
namex==0.0.9
narwhals==1.39.0
natsort==8.4.0
nbclassic==1.3.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
ndindex==1.9.2
nest-asyncio==1.6.0
networkx==2.8.8
nibabel==5.3.2
nltk==3.9.1
notebook==6.5.7
notebook_shim==0.2.4
num2words==0.5.14
numba==0.60.0
numba-cuda==0.2.0
numexpr==2.10.2
numpy==1.26.4
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvcc-cu12==12.5.82
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-ml-py==12.575.51
nvidia-nccl-cu12==2.21.5
nvidia-nvcomp-cu12==4.2.0.11
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
nvtx==0.2.11
nx-cugraph-cu12 @ https://pypi.nvidia.com/nx-cugraph-cu12/nx_cugraph_cu12-25.2.0-py3-none-any.whl
oauth2client==4.1.3
oauthlib==3.2.2
omegaconf==2.3.0
openai==1.78.1
openai-whisper==20240930
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
openunmix==1.3.0
opt_einsum==3.4.0
optax==0.2.4
optree==0.15.0
orbax-checkpoint==0.11.13
orjson==3.10.18
osqp==1.0.4
packaging==24.2
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.28.1
pandas-stubs==2.2.2.240909
pandocfilters==1.5.1
panel==1.6.3
param==2.2.0
parso==0.8.4
parsy==2.1
partd==1.4.2
pastel==0.2.1
pathlib==1.0.1
patsy==1.0.1
peewee==3.18.1
peft==0.15.2
pesq==0.0.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
platformdirs==4.3.8
plotly==5.24.1
plotnine==0.14.5
pluggy==1.5.0
ply==3.11
poethepoet==0.24.4
polars==1.21.0
pooch==1.8.2
portalocker==3.1.1
portpicker==1.5.2
praat-parselmouth==0.4.5
preshed==3.0.9
prettytable==3.16.0
proces==0.1.7
proglog==0.1.12
progressbar==2.5
progressbar2==4.5.0
prometheus_client==0.21.1
promise==2.3
prompt_toolkit==3.0.51
propcache==0.3.1
prophet==1.1.6
proto-plus==1.26.1
protobuf==5.29.4
psutil==5.9.5
psycopg2==2.9.10
ptyprocess==0.7.0
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.28.0
pycocotools==2.0.8
pycparser==2.22
pycryptodomex==3.22.0
pydantic==2.10.6
pydantic_core==2.27.2
pydata-google-auth==1.9.1
pydot==3.0.4
pydotplus==2.0.2
PyDrive==1.3.1
PyDrive2==1.21.3
pydub==0.25.1
pyerfa==2.0.1.5
pygame==2.6.1
pygit2==1.18.0
Pygments==2.19.1
PyGObject==3.42.0
PyJWT==2.10.1
pylibcudf-cu12 @ https://pypi.nvidia.com/pylibcudf-cu12/pylibcudf_cu12-25.2.1-cp311-cp311-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl
pylibcugraph-cu12==25.2.0
pylibraft-cu12==25.2.0
pymc==5.22.0
pymystem3==0.2.0
pynndescent==0.5.13
pynvjitlink-cu12==0.6.0
pynvml==12.0.0
pyogrio==0.11.0
pyomo==6.9.2
PyOpenGL==3.1.9
pyopenjtalk-prebuilt==0.3.0
pyOpenSSL==24.2.1
pyparsing==3.2.3
pyperclip==1.9.0
pypinyin==0.54.0
pyproj==3.7.1
pyproject_hooks==1.2.0
pyshp==2.3.1
PySocks==1.7.1
pyspark==3.5.1
pystoi==0.4.1
pytensor==2.30.3
pytest==8.3.5
python-apt==0.0.0
python-box==7.3.2
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-louvain==0.16
python-multipart==0.0.12
python-slugify==8.0.4
python-snappy==0.7.3
python-utils==3.9.1
pytz==2025.2
pyviz_comms==3.0.4
PyWavelets==1.8.0
pyworld==0.3.5
PyYAML==6.0.2
pyzmq==24.0.1
raft-dask-cu12==25.2.0
rapids-dask-dependency==25.2.0
ratelim==0.1.6
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requirements-parser==0.9.0
resampy==0.4.3
retrying==1.3.4
rich==13.9.4
rmm-cu12==25.2.0
roman-numerals-py==3.1.0
rotary-embedding-torch==0.8.6
rpds-py==0.24.0
rpy2==3.5.17
rsa==4.9.1
ruff==0.11.10
rvc @ https://github.com/rsxdalv/Retrieval-based-Voice-Conversion/releases/download/v0.3.6/rvc-0.3.6-py3-none-any.whl#sha256=60b32cf018bade213fa0fa92d353b02aef4e2ffa5d20a2339180679eea23dd62
s3transfer==0.12.0
sacrebleu==2.5.1
safehttpx==0.1.6
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.3
scooby==0.10.1
scs==3.2.7.post2
seaborn==0.13.2
SecretStorage==3.3.3
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==4.1.0
sentencepiece==0.2.0
sentry-sdk==2.28.0
setproctitle==1.3.6
shap==0.47.2
shapely==2.1.0
shellingham==1.5.4
simple-parsing==0.1.7
simplejson==3.20.1
simsimd==6.2.1
six==1.17.0
sklearn-compat==0.1.3
sklearn-pandas==2.2.0
slicer==0.0.8
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.7
sox==1.5.0
soxr==0.5.0.post1
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spanner-graph-notebook==1.1.6
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.40
sqlglot==25.20.2
sqlparse==0.5.3
srsly==2.5.1
stanio==0.5.1
starlette==0.46.2
statsmodels==0.14.4
stringzilla==3.12.5
stumpy==1.13.0
styletts2 @ https://github.com/rsxdalv/StyleTTS2/releases/download/v0.1.8/styletts2-0.1.8-py3-none-any.whl#sha256=fdc3ea545a00a449b71327d3e22ac8a68ac9c12963e6d94a01a4413fdd3246f1
submitit==1.5.2
SudachiDict-core==20250129
SudachiPy==0.6.10
suno-bark @ https://github.com/rsxdalv/bark/releases/download/v0.1.0/suno_bark-0.1.0-py3-none-any.whl#sha256=aaaf0f171ce47368a7769fc924adcb058b96070743111d7b3055e23a3945ef71
sympy==1.13.1
tables==3.10.2
tabulate==0.9.0
tbb==2022.1.0
tblib==3.1.0
tcmlib==1.3.0
tenacity==9.1.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.18.0
tensorflow-datasets==4.9.8
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.17.1
tensorflow-probability==0.25.0
tensorflow-text==2.18.1
tensorflow_decision_forests==1.11.0
tensorstore==0.1.74
termcolor==3.1.0
terminado==0.18.1
text-unidecode==1.3
textblob==0.19.0
tf-slim==1.1.0
tf_keras==2.18.0
thinc==8.3.4
threadpoolctl==3.6.0
tifffile==2025.5.10
tiktoken==0.9.0
timm==1.0.15
tinycss2==1.4.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.6.0+cu126
torchao==0.10.0
torchaudio==2.6.0+cu126
torchcrepe==0.0.22
torchdata==0.11.0
torchfcpe==0.0.4
torchmetrics==1.7.1
torchsummary==1.5.1
torchtext==0.18.0
torchtune==0.6.1
torchvision==0.21.0+cu126
tornado==6.4.2
tortoise-tts @ https://github.com/rsxdalv/tortoise-tts/releases/download/v3.0.1/tortoise_tts-3.0.1-py3-none-any.whl#sha256=c16c13e881977a9ba50dfb7bd2d0da1c5f9ad3235c549fb61868e69bf91b0f76
tqdm==4.67.1
traitlets==5.7.1
traittypes==0.2.1
transformers==4.51.3
treelite==4.4.1
treescope==0.1.9
treetable==0.2.5
triton==3.2.0
tsfresh==0.21.0
tweepy==4.15.0
txtsplit==1.0.0
typeguard==4.4.2
typer==0.15.3
types-pytz==2025.2.0.20250326
types-setuptools==80.4.0.20250511
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
uc-micro-py==1.0.3
ucx-py-cu12==0.42.0
ucxx-cu12==0.42.0
umap-learn==0.5.7
umf==0.10.0
Unidecode==1.4.0
uritemplate==4.1.1
urllib3==2.4.0
uv==0.7.4
uvicorn==0.34.2
valle-x @ https://github.com/rsxdalv/VALL-E-X/releases/download/v0.0.1/valle_x-0.0.1-py3-none-any.whl#sha256=ec56a1f0ee340754834eefefd9fc712beb1882dbcea3cfc731849acdb652a700
vector-quantize-pytorch==1.22.16
vega-datasets==0.9.0
vocos==0.1.0
wadllib==1.3.6
wandb==0.19.11
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.1.3
wget==3.2
widgetsnbextension==3.6.10
wordcloud==1.9.4
wrapt==1.17.2
wurlitzer==3.1.1
xarray==2025.3.1
xarray-einstats==0.8.0
xformers==0.0.29.post3
xgboost==2.1.4
xlrd==2.0.1
xxhash==3.5.0
xyzservices==2025.4.0
yarl==1.20.0
ydf==0.11.0
yellowbrick==1.5
yfinance==0.2.61
zict==3.0.0
zipp==3.21.0
zstandard==0.23.0